<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hilguener.todolist">

    <application
        android:name="com.hilguener.ToDoApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_my_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_my_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TODOLIST"
        tools:targetApi="31">
        <activity
            android:name="com.hilguener.ui.tasks.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hilguener.ui.tasks.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


    </application>

</manifest>